<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cristopher Daniel Izaguirre Caceres - CV</title>
    <link rel="stylesheet" href="/src/styles/global.css">
  </head>
  <body>
    <slot /> <!-- Aquí se inyectará el contenido de la página -->
  </body>
</html>
